.notification-label 
{
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	background-color: rgba(10,10,10,0.7);
	border-radius: 5px;
	padding: .5em;
}

.tray-label
{
	padding-right: .5em;
	text-align: center;
}

.popup-menu
{
}

.popup-time-label
{
	text-align: center;
}

.popup-time-bar
{
	text-align: center;
	height: 20px;
}

.popup-control-panel
{
	text-align: center;
	align: center;
}

/*
 * Copypasted shamelessly from Canta-blue-dark-compact
 * because there's no such style in Adwaita and
 * it looks cool
 */
.system-menu-action {
  color: rgba(255, 255, 255, 0.7);
  border-radius: 100px;
  /* wish we could do 50% */
  padding: 11px;
  border: none;
  -st-icon-style: symbolic;
}

.system-menu-action:hover, .system-menu-action:focus {
  background-color: rgba(255, 255, 255, 0.12);
  color: #FFFFFF;
  border: none;
  padding: 11px;
}

.system-menu-action:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
}

.system-menu-action > StIcon {
  icon-size: 16px;
}

