.notification-label
{
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	background-color: rgba(10,10,10,0.7);
	border-radius: 5px;
	padding: .5em;
}

.panel-inner-box {
	padding-right: 10px;
}

.popup-time-label
{
	text-align: center;
}

.popup-time-bar
{
	text-align: center;
	height: 20px;
}

.popup-control-panel
{
	text-align: center;
	align: center;
}

/*
 * Copypasted shamelessly from Canta-blue-dark-compact
 * because there's no such style in Adwaita and
 * it looks cool
 * Also modified a liiiitle
 */
.system-menu-action {
  background-color: rgba(150, 150, 150, 0.1);
  border-radius: 100px;
  /* wish we could do 50% */
  padding: 11px;
  border: 1px;
  border-color: rgba(175, 175, 175, 1.0);
  -st-icon-style: symbolic;
}

.system-menu-action:hover, .system-menu-action:focus {
  background-color: rgba(150, 150, 150, 0.2);
  padding: 11px;
}

.system-menu-action:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
}

.system-menu-action > StIcon {
  icon-size: 16px;
}
