.notification-label 
{
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	background-color: rgba(10,10,10,0.7);
	border-radius: 5px;
	padding: .5em;
}

.tray-label
{
	padding-right: .5em;
}

.popup-menu
{
	margin: 10px;
}

.popup-time-label
{
	text-align: center;
}

.popup-time-bar
{
	text-align: center;
	margin: .5em;
}
